{% include 'fragments/logout_modal.html.twig' %}
<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li style="color: white;"><i class="fa fa-phone"></i> 85 555</li>
                <li style="color: white;"><i class="fa fa-envelope-o"></i> echriPC@gmail.com</li>
                <li style="color: white;"><i class="fa fa-map-marker"></i> INSAT - Centre Urbain </li>
            </ul>
            <ul class="header-links pull-right">
                {% if app.user is not null %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-user-o"></i> My Account <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" style="background-color: #333;">
                            <li>
                                <a href="{{ path('app_account') }}">
                                    <i class="fa fa-user"></i> My Profile
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_order_history') }}">
                                    <i class="fa fa-history"></i> Order History
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_login') }}">
                                    <i class="fa fa-sign-in"></i> Change Account
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fa fa-sign-out"></i> Logout
                        </a>
                    </li>
                {% else %}
                    <li><a href="/register"><i class="fa fa-user-o"></i> Register </a></li>
                    <li><a href={{ path('app_login') }}><i class="fa fa-sign-in"></i> Login </a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="/index" class="logo">
                            <img src="{{ asset('styles/img/logo.jpg') }}" alt="" style="width: 130px; height: auto;">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form>


                           <input class="input" placeholder="Search here" style="border-radius: 20px 0 0 20px;">

                            <button class="search-btn" type="button" onclick="redirectToSearch()">Search</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Wishlist -->
                        <div>

                            <a href="/wishList">
                                <i class="fa fa-heart-o"></i>
                                <span>Your Wishlist</span>
                            </a>

                        </div>
                        <!-- /Wishlist -->

                        <!-- Cart -->
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <a href="/cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Your Cart</span>
                                </a>
                            </a>

                        </div>
                        <!-- /Cart -->

                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->


</header>
<!-- /HEADER -->

