{% extends 'base.html.twig' %}

{% block title %}Hello CheckoutController!{% endblock %}

{% block body %}
    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="breadcrumb-header">Checkout</h3>
                    <ul class="breadcrumb-tree">

                        <li><a href={{ path('app_index') }}>Home</a></li>
                        <li><a href={{ path('app_cart') }}>cart</a></li>

                        <li class="active">Checkout</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <!-- Order Details -->
                <div class="order-details">
                    <div class="section-title text-center">
                        <h3 class="title">Your Order</h3>
                    </div>
                    <div class="order-summary">
                        <div class="order-col">
                            <div><strong>PRODUCT</strong></div>
                            <div><strong>TOTAL</strong></div>
                        </div>
                        <div class="order-products">
                            {% for cartItem in cartItems  %}
                            <div class="order-col">
                                <div>x{{ cartItem.getQuantité() }} {{ cartItem.getProduit().getName() }}</div>
                                <div> {{ cartItem.getProduit().getPrice() }} </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="order-col">
                            <div>Shiping</div>
                            <div><strong>FREE</strong></div>
                        </div>
                        <div class="order-col">
                            <div><strong>TOTAL</strong></div>
                            <div><strong class="order-total">{{ total }}</strong></div>
                        </div>
                    </div>


                    <div class="input-checkbox">
                        <input type="checkbox" id="terms" required>
                        <label for="terms" id="label" data-toggle="popover" data-content="Please check this box." data-placement="top">
                            <span></span>
                            I've read and accept the <a href="#" >terms & conditions</a>
                        </label>
                    </div>
                    <a href="#" class="primary-btn order-submit" id="payOnDeliveryBtn" data-path="{{ path('app_place_order', {'id': cart.id}) }}">
                        Pay On Delivery
                    </a>
                    <a href="#" class="primary-btn order-submit" id="proceedToPaymentBtn" data-path="{{ path('create_payment_link', {'id': cart.id, 'total': total}) }}">
                        Proceed to Online Payment
                    </a>

                </div>


                <!-- /Order Details -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const termsCheckbox = $('#terms');
            const popoverTrigger = $('#label');
            const payOnDeliveryBtn = document.getElementById('payOnDeliveryBtn');
            const proceedToPaymentBtn = document.getElementById('proceedToPaymentBtn');

            popoverTrigger.popover({ trigger: 'manual' });

            function handleButtonClick(event) {
                event.preventDefault();
                if (termsCheckbox.is(':checked')) {
                    window.location.href = event.target.getAttribute('data-path');
                } else {
                    popoverTrigger.popover('show');
                    setTimeout(() => $(popoverTrigger).popover('hide'), 3000);
                }
            }

            payOnDeliveryBtn.addEventListener('click', handleButtonClick);
            proceedToPaymentBtn.addEventListener('click', handleButtonClick);
        });
    </script>
{% endblock %}
