{% extends 'base.html.twig' %}


{% block header %}
    {% include 'admin_fragments/header.html.twig' %}
    {% include 'admin_fragments/navigation.html.twig' with {'role': 'products'} %}

{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="container mt-4">
        <h1>Products List</h1>

        <div class="mb-3" style="margin: 20px;">
            <button class="btn btn-secondary btn-sm category-filter" data-category="all">All</button>
            {% for categorie in categories %}
                <button class="btn btn-secondary btn-sm category-filter" data-category="{{ categorie.name }}">
                    {{ categorie.name }}
                </button>
            {% endfor %}
        </div>


        <table id="productsTable" class="table table-bordered datatable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.id }}</td>
                    <td>{{ produit.name }}</td>
                    <td class="product-category">{{ produit.categorie.name }}</td>
                    <td>{{ produit.price }} €</td>
                    <td>{{ produit.stock }}</td>
                    <td class="text-center">
                        <a href="{{ url('app_create_produit', {id: produit.id}) }}"><i class="fa fa-pencil-square-o"></i></a>
                        &nbsp;
                        <a href="#" data-toggle="modal" data-target="#deleteModal-{{ produit.id }}"><i class="fa fa-trash"></i></a>
                        &nbsp;
                        <a href="{{ path('produit_details', {'id': produit.id}) }}"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>

                {% include 'admin_fragments/delete_modal.html.twig' with {'p_id': produit.id , 'p_name': produit.name } %}
            {% endfor %}
            </tbody>


        </table>
    </div>
{% endblock %}

{% block javascripts %}

<script>
    $(document).ready(function () {
        // Initialisation pour la table des produits
        if ($('#productsTable').length) {
            const table = $('#productsTable').DataTable({
                responsive: true,
                language: {
                    search: "Search:",
                    lengthMenu: "Show _MENU_ entries",
                    info: "Showing _START_ to _END_ of _TOTAL_ entries",
                    paginate: {
                        previous: "Previous",
                        next: "Next"
                    }
                }
            });

            // Handle category button clicks
            $('.category-filter').on('click', function () {
                const category = $(this).data('category');

                // Highlight the active button
                $('.category-filter').removeClass('btn-primary').addClass('btn-secondary');
                $(this).removeClass('btn-secondary').addClass('btn-primary');

                if (category === 'all') {
                    table.column(2).search('').draw();
                } else {
                    table.column(2).search('^' + category + '$', true, false).draw(); // Regex exact match
                }
            });
        }
    });
</script>

{% endblock %}


{% block footer %}
    {% include 'admin_fragments/footer.html.twig' %}
{% endblock %}