{% extends 'base.html.twig' %}

{% block header %}
    {% include 'admin_fragments/header.html.twig' %}
    {% include 'admin_fragments/navigation.html.twig' with {'role': role} %}
{% endblock %}


{% block body %}
    <link rel="stylesheet" href="{{ asset('css/buttons.css') }}">
    <div class="container mt-4">
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="container mt-4">
        {% if role == 'ROLE_ADMIN' %}
            <h1>Admins List</h1>
        {% else %}
            <h1>Users List</h1>
        {% endif %}

        <table id="usersTable" class="table table-bordered datatable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    {% if role == 'ROLE_USER' %} <th>Actions</th>  {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.roles[0] }}</td>

                        {% if role == 'ROLE_USER' %}
                            <td class="text-center">
                                <a href="{{ url('make_admin', {id: user.id }) }}" class="btn custom-admin-btn">Make Admin</a>
                                <a href="{{ url('orders.list', {id: user.id }) }}" class="btn custom-admin-btn">Orders History</a>
                            </td>
                        {% endif %}

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function () {
            // Initialisation pour la table des utilisateurs
            if ($('#usersTable').length) {
                $('#usersTable').DataTable({
                    responsive: true,
                    language: {
                        search: "Search:",
                        lengthMenu: "Show _MENU_ entries",
                        info: "Showing _START_ to _END_ of _TOTAL_ entries",
                        paginate: {
                            previous: "Previous",
                            next: "Next"
                        }
                    }
                });
            }
        });
    </script>

{% endblock %}

{% block footer %}
    {% include 'admin_fragments/footer.html.twig' %}
{% endblock %}